
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6f2ff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header {
    background-color: #0F588C;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

header h1 {
    color: #ffffff;
    font-size: 24px;
}


#menu-check, .hamburger {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #9CD5FF;
}

/* main */
main {
    flex: 1;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* footer */
footer {
    background-color: #0F588C;
    text-align: center;
    padding: 20px;
}

.estiloespecial {
    font-family: 'Courier New', Courier, monospace;
    color: #9CD5FF;
    font-size: 14px;
}

/* MEDIA QUERY:  */
@media (max-width: 768px) {
  
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0F588C;
        max-height: 0; /* Lo colapsamos */
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

  
    #menu-check:checked ~ nav {
        max-height: 300px; 
    }

    #menu-check:checked + .hamburger .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #menu-check:checked + .hamburger .bar:nth-child(2) {
        opacity: 0;
    }
    #menu-check:checked + .hamburger .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}